header{
    position: absolute;
    width: 912px;
    left: 45px;
}
.top-menu {
    width: 905px;
    height: 51px;
    margin-left: 8px;
}
.contacts {
    float: left;
    margin-top: 22px;
    margin-bottom: 11px;
    overflow: hidden;
}
.cell {
    float: left;
    overflow: hidden;
}
.number {
    display: inline-block;
    float: left;
    margin-top: 1px;
    margin-left: 3px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
    color: #5e696d;
}
.signin {
    float: left;
    width: 495px;
    height: 26px;
    margin-top: 18px;
    margin-bottom: 6px;
    margin-left: 15px;
    background: linear-gradient(to bottom, #206988 0%,#114165 59%,#0c3256 100%);
    box-shadow: 1px 2px 4px 0px grey;
    border-radius: 5px;
    overflow: hidden;
}
.img-auth {
    float: left;
    margin-left: 7px;
    margin-top: 4px;
    margin-right: 4px;
    overflow: hidden;
}
.lg {
    float: left;
    width: 114px;
    height: 16px;
    margin-top: 5px;
    margin-right: 3px;
    overflow: hidden;
}
.pw {
    float: left;
    width: 114px;
    height: 16px;
    margin-top: 5px;
    margin-left: 5px;
    overflow: hidden;
}
.lg input,
.pw input{
    border: 0;
    width: 114px;
    height: 15px;
    padding-left: 3px;
    border-bottom: 10px;
    box-shadow: 0px 0px 3px 0px grey;
}
.in {
    display: block;
    float: left;
    margin-top: 3px;
    margin-left: 8px;
    overflow: hidden;
}
.in a {
    color: white;
    font-size: 11px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.3px;
    text-decoration: none;
}
.vert-line {
    float: left;
    height: 10px;
    width: 1px;
    background-color: white;
    margin-top: 8px;
    margin-left: 4px;
    overflow: hidden;
}
.reg {
    display: block;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
    overflow: hidden;
}
.reg a {
    color: white;
    font-size: 11px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    letter-spacing: 0.3px;
}
.fpw {
    display: block;
    float: left;
    margin-top: 3px;
    margin-left: 21px;
    overflow: hidden;
}
.fpw a {
    color: #bfbfbf;
    text-decoration: underline;
    letter-spacing: 0.8px;
    font-size: 11px;
    font-family: Arial, sans-serif;
}
.in a:focus,
.reg a:focus {
    text-decoration: underline;
}
.in a:hover,
.reg a:hover {
    text-decoration: underline;
}
.nav {
    float: left;
    width: 76px;
    height: 22px;
    margin-top: 20px;
    margin-left: 13px;
    border: 1px solid #bdc4c7;
    border-radius: 17px;
    overflow: hidden;
}
.home {
    float: left;
    margin-top: 3px;
    margin-left: 13px;
    margin-bottom: 3px;
    height: 16px;
    width: 16px;
    overflow: hidden;
}
.map {
    float: left;
    margin-top: 3px;
    margin-left: 4px;
    margin-bottom: 3px;
    overflow: hidden;
}
.mail {
    float: left;
    margin-top: 3px;
    margin-left: 8px;
    margin-bottom: 3px;
    overflow: hidden;
}
.home a:focus img,
.map a:focus img,
.mail a:focus img {
    vertical-align: bottom;
}
