@import "header.css";
@import "main-menu.css";
@import "left-menu.css";
@import "center.css";
@import "right-menu.css";
@import "footer.css";
@font-face {
    font-family: 'Lucida Sans Unicode Regular';
    src: url('../fonts/lsansuni-webfont.eot');
    src: url('../fonts/lsansuni-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsansuni-webfont.woff2') format('woff2'),
         url('../fonts/lsansuni-webfont.woff') format('woff'),
         url('../fonts/lsansuni-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Lucida Sans Unicode Regular", Arial, Courier, sans-serif;
}
.main-container {
    position: relative;
    width: 1000px;
    height: 1310px;
    margin: 0 auto;
}
header {
    position: absolute;
    left: 45px;
    height: 330px;
    width: 912px;
}
.banner {
    position: absolute;
    top: 54px;
    left: 45px;
    margin: 0;
    height: 237px;
    width: 909px;
}
.forms{
    position: absolute;
    top: 344px;
    left: 49px;
}
.container {
    position: absolute;
    top: 493px;
    left: 45px;
    width: 911px;
    overflow: hidden;
}
.brands-img {
    position: absolute;
    left: 163px;
    top: 1158px;
    overflow: hidden;
}
