.top-menu {
    height: 26px;
    line-height: 26px;
    display: inline-block;
}
.cell-1 {
    vertical-align: middle;
}
.number-1 {
    vertical-align: middle;
    font-family: Arial;
    font-style: normal;
    font-size: 18px;
    color: #5e696d;
    letter-spacing: 0.4px;
    margin-left: 4px;
}
.login-1 {
    display: inline-block;
    width: 495px;
    height: 26px;
    line-height: 26px;
    background-color: #124468;
    border-radius: 5px;
    margin-left: 12px;
}
.login-1 img {
    vertical-align: middle;
    margin-left: 8px;
}
.lg-1 {
    width: 109px;
    height: 10px;
    font-size: 10.91px;
}
.pw-1 {
    width: 110px;
    height: 10px;
    font-size: 10.91px;
}
.login-1 a {
    vertical-align: middle;
    font-size: 10.91px;
    text-decoration: none;
    color: white;
}
.in-1 {
    margin-left: 8px;
}
.reg-1 {
    margin-left: -2px;
}
.fpw-1 {
    padding-left: 10px;
    padding-right: 8px;
}
.login-1 a:hover {
    cursor: pointer;
}
.login-1 a:focus {
    color: #bfbfbf;
    text-decoration: underline;
}
.nav {
    width: 76px;
    display: inline-block;
    border: 1px solid #c9cfd1;
    border-radius: 12px;
    vertical-align: middle;
    text-align: center;
    height: 21px;
    margin-left: 17px;
    line-height: 21px;
}
.nav a {
    text-align: center;
}
