@import "section-1.css";
@import "section-2.css";
@import "section-3.css";
@import "section-4.css";
@import "section-5.css";
@import "section-6.css";
@import "media768.css";
@import "media480.css";
@import "media320.css";
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff2') format('woff2'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
