@font-face {
    font-family: 'Jura Demibold';
    src: url('../fonts/jura-demibold-webfont.eot');
    src: url('../fonts/jura-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jura-demibold-webfont.woff2') format('woff2'),
         url('../fonts/jura-demibold-webfont.woff') format('woff'),
         url('../fonts/jura-demibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #000e17;
  font-family: 'Jura Demibold';
}
.wrapper, .form {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}
.tabs__content {
  clear: both;
}
.tabs__item {
  float: left;
  background-color: #467b8d;
  margin-right: 5px;
}
.active {
  float: left;
  background-color: #FF7800;
  transition: 0.4s;
}
.tabs__link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 25px;
  vertical-align: middle;
  padding: 10px 15px;
}
.tab__content-item {
  display: none;
}
@keyframes tabAnimate{
  0% {margin-top: -100%; opacity: 0;}
  50% {margin-top: 0; opacity: 0;}
  100% {margin-top: 0; opacity: 1;}
}
.active-tab {
  display: block;
  animation-name: tabAnimate;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.10, .85, .10, .85);
}
.tabs__content {
  background-color: #FF7800;
  padding: 10px;
  color: white;
}
.tab__paragraph {
  border: solid 1px white;
  margin-bottom: 8px;
  border-radius: 5px;
  padding: 7px;
  transition: all 3s;
  background: #fd8d2a;

}
label {
  color: white;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 150px;
  display: inline-block;
}
.tooltip {
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: white;
  background: #FF7800;
  border-radius: 5px;
  display: none
}

.help-button {
  background: #FF7800;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Jura Demibold';
  padding: 8px;
  font-size: 12px;
  margin-top: 15px;
}
