<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.3.js"></script>
  <script type="text/javascript" src="js/jquery.carousel.js"></script>
  <script src="js/tmpl.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Homework 11-12 JS</title>
</head>
<body>
  <script type="text/template" id="page">

    <div class="document">
      <div class="fio"><%= data[0].name %></div>
      <div class="photo">
        <img alt="фото" src="<%= data[0].photoPath %>" title="Нет%нормальной%фото">
      </div>
      <div class="iam"><%= data[0].status %></div>
      <div class="line"><hr></div>
      <div class="reason_text">Хочу учить фронтенд, потому что:</div>
      <div class="reasons_list">
        <ul>
          <% for (var i = 0; i < data.length; i++) { %>
            <li><%= data[i].reason %></li>
            <% }; %>
          </ul>
        </div>
        <div class="line"><hr></div>
        <div class="phone_number">
          <p>Мой контактный телефон <br>
            <%= data[0].phone %></p>
          </div>
          <div class="profile">
            <p>Мой профиль вконтакте<br>
              <a href="<%= data[0].vk %>" title="Это было давно и неправда" target="_blank">vk.com</a></p>
            </div>
            <div class="line"><hr></div>
            <div class="feedback">
              <p>Мой фидбек:<br>
                <%= data[0].feedback %></p>
              </div>
            </div>
  </script>
  <div class="wrapper">
    <div class="carousel-arrow-left"><span> < </span></div>
    <div class="carousel-hider">
      <ul class="carousel-list">
        <li class="carousel-element"><img src="img/amg-1.jpeg"><p>AMG 230 GE 5.6 (W460) '1987</p></li>
        <li class="carousel-element"><img src="img/amg-2.jpeg"><p>Mercedes-Benz G 36 AMG (W463) '1994–97</p></li>
        <li class="carousel-element"><img src="img/amg-3.jpeg"><p>Mercedes-Benz G 55 AMG (W463) '1999–06.2004</p></li>
        <li class="carousel-element"><img src="img/amg-4.jpeg"><p>Mercedes-Benz G 55 L AMG (W463) '2001</p></li>
        <li class="carousel-element"><img src="img/amg-5.jpeg"><p>Mercedes-Benz G 63 XXL AMG (W463) '2004</p></li>
        <li class="carousel-element"><img src="img/amg-6.jpeg"><p>Mercedes-Benz G 55 Kompressor AMG (W463) '06.2004–07.2006</p></li>
        <li class="carousel-element"><img src="img/amg-7.jpeg"><p>Mercedes-Benz G 55 Kompressor AMG (W463) '07.2006–08</p></li>
        <li class="carousel-element"><img src="img/amg-8.jpeg"><p>Mercedes-Benz G 55 Kompressor AMG (W463) '2008–12</p></li>
        <li class="carousel-element"><img src="img/amg-9.jpeg"><p>Mercedes-Benz G 55 Kompressor AMG "Edition 79" (W463) '2010</p></li>
        <li class="carousel-element"><img src="img/amg-10.jpeg"><p>Mercedes-Benz G 55 Kompressor AMG "Mastermind" (W463) '2012</p></li>
        <li class="carousel-element"><img src="img/amg-11.jpeg"><p>Mercedes-Benz G 63 AMG (W463) '2012–15</p></li>
        <li class="carousel-element"><img src="img/amg-12.jpeg"><p>Mercedes-Benz G 65 AMG (W463) '2012–15</p></li>
        <li class="carousel-element"><img src="img/amg-13.jpeg"><p>Mercedes-Benz G 63 AMG 6×6 (W463) '2013–15</p></li>
        <li class="carousel-element"><img src="img/amg-14.jpeg"><p>Mercedes-AMG G 63 (W463) '2015–н.в.</p></li>
        <li class="carousel-element"><img src="img/amg-15.jpeg"><p>Mercedes-AMG G 65 (W463) '2015–н.в.</p></li>
      </ul>
    </div>
    <div class="carousel-arrow-right"><span> > </span></div>
  </div>

</body>
</html>
